<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>hello students</h1>
    <ul>
        {% for student in students %}
            <li>{{student[0]}}{{student[1]}}</li> <!-- student[0]=print de voornaam van de huidige student, student[1] print de achternaam -->
        {% endfor %}
    </ul>
</body>
</html>