/* static/style_redirect.css */

body {
  background-color: #f9e6e6;
  font-family: "Arial", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

h1 {
  color: #e84a5f;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: #e84a5f;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
